@import 'tailwindcss';

@theme {
  --color-primary: #499a13;
  --color-secondary: #000000;

  --font-sans: 'Inter', sans-serif;
  --animate-spin: spin 500ms linear infinite;
  --animate-bound-out: bounce-out 500ms ease 1;

  @keyframes bounce-out {
    0%,
    100% {
      transform: scale(1);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: scale(1.4);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: white;
  opacity: 0.8;
  transition: background-color 9999s ease-out;
}

body {
  font-family: var(--font-sans);
}

@utility center-container {
  @apply max-w-[85%] mx-auto;
}
